/* ImageSelector.css */

.image-selector-container {
  display: flex;
  overflow: scroll;
  /* overflow-y: hidden; */
  scroll-snap-type: x mandatory;
  overflow-x: auto; /* Enable horizontal scrollbar */
  white-space: nowrap; /* Display images in a horizontal row */
  scrollbar-width: none; /* Hide scrollbar for better user experience */
  -ms-overflow-style: none;
  width: 250px;
  height: 250px; /* Adjust the height as needed */
  position: relative;
}

.image-item {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.image-item img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.image-item.selected {
  transform: scale(1.1); /* Scale up the selected image */
  z-index: 1; /* Place the selected image on top */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  opacity: 0.5;
}
