.overlay {
  position: absolute;
  width: 100%;
  opacity: 1;
  font-size: 110px;
  color: white;
  /* padding: 20px; */
  text-align: center;
  /* width: 100px; */
}
MuiImageListItem-root {
  padding: auto;
}
